@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Logo</h1>
    <p>Bem vindo <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="">Seção1</a>.</p>
</div>